@{
    ViewBag.Title = "Home Page";
}

<div class="center">

    <h1>Welkom!</h1>

    <h3>Wat?</h3>

    <p>
        UurFac is een systeem dat Mijn Bedrijf gebruikt om prestaties geleverd door haar medewerkers in opdracht van haar klanten te registreren en te factureren
    </p>

    <h3>Hoe?</h3>

    <p>
        Vraag een gebruikersaccount aan bij je verantwoordelijke om te beginnen registreren
    </p>

</div>